<div class="panel panel-primary">
    <button class="nav-link" type="button" (click)="addPage()" routerLinkActive="active" class="btn btn-primary">Nouveau</button>
    <div class="panel-heading">
        <h2>Liste des employés</h2>
    </div>
    <div class="panel-body">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.email}}</td>
                    <td><button style='margin-right:16px' class="btn btn-danger">Delete</button>
                        <button style='margin-right:16px' class="btn btn-primary"
                            style="margin-left: 10px">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>